html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgba(30, 31, 2, 0.021);
  font-size: 18px;
}
.wrapper {
  display: grid;
  width: 90vw;
  position: relative;
  grid-template-rows: 10% 20% 27% 30% 10% 3%;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "header0 nav"
    "nav0 article0"
    "nav1 article1"
    "video article"
    ". article2"
    "footer footer";
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
  padding: 5px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 0%;
  background-color: rgba(108, 109, 80, 0.116);
  font-family: helvetica;
  font-size: 18px;
}
.topNav {
  grid-area: nav;
  overflow: hidden;

  margin-left: 2%;
}
.nav-links {
  height: 17%;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topNav a {
  float: left;
  display: block;
  color: rgba(13, 143, 230, 0.555);
  text-align: center;
  padding: 2% 4%;
  text-decoration: none;
  font-size: 100%;
}
.topNav a:hover {
  background-color: #ddd;
  color: grey;
}
.active {
  background-color: rgba(128, 128, 128, 0.212);
  color: white;
}
.topNav .icon {
  display: none;
}
/* для меню */
@media screen and (max-width: 900px) {
  .topNav a {
    display: none;
  }
  .topNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topNav.responsive {
    position: relative;
  }
  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 70%;
    padding: 1% 2%;
  }
}

header {
  grid-area: header0;
  font-family: "Bad Script", cursive;
  background-color: rgba(13, 143, 230, 0.555);
  margin-left: 7%;
}
.person-image {
  grid-area: nav0;
  display: grid;
  grid-template-rows: 95% 5%;
  grid-template-columns: 10% 10% 70%;
  grid-template-areas:
    "column1 column2 column3"
    "column4 column4 column4";
}
.person-photo {
  grid-area: column3;
  margin-left: 37%;
  margin-top: 5%;
  box-shadow: 0 0 8px 8px white inset;
  width: 127%;
  height: 79%;
}
.personal-info {
  margin-left: 22%;
  grid-area: article0;
}
.text-description {
  width: 90%;
}
pre {
  width: 90%;
}
.knowledges-contacts {
  grid-area: nav1;
  padding: 4%;
  box-shadow: 0 0 10px rgba(14, 171, 233, 0.301);
}
.video-part {
  grid-area: video;
  width: 100%;
  height: 90%;
  margin-top: 50%;
  margin-left: 8%;
}
.video {
  width: 100%;
  height: 50%;
  margin: 15% auto;
}
.video-line {
  width: 100%;
}
.code-example {
  grid-area: point2;
}
.pre {
  margin-right: 50%;
  grid-area: point2;
}
.run-length {
  width: 10%;
}
.projects {
  grid-area: article;
  display: grid;
  grid-template-rows: 10% 40% 40%;
  grid-template-areas:
    "title"
    "photo"
    "text";
}
.project-title {
  margin-left: 20%;
  color: rgba(13, 143, 230, 0.815);
  grid-area: title;
  margin-bottom: 10%;
}
.project-description {
  grid-area: text;
  width: 60%;
  margin-left: 15%;
}
.project-image {
  grid-area: photo;
  margin-left: 15%;
}

.education-info {
  grid-area: article2;
  padding: 4%;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 40% 20% 40%;
  grid-template-areas:
    "breakpoint0 breakpoint1 breakpoint2 "
    "breakpoint3 breakpoint4 breakpoint5";
}
.coursers {
  grid-area: breakpoint5;
}
.higher-edu {
  grid-area: breakpoint3;
}

h1 {
  color: white;
}
h3 {
  color: rgba(13, 143, 230, 0.815);
}
h1,
h2,
h3,
h4,
.title-about {
  font-family: "Bad Script", cursive;
}

p,
.code-description,
.task-name,
.text-description,
li {
  font-family: "Philosopher", sans-serif;
}
.title-contacts {
  color: black;
}

.vl1 {
  grid-area: column1;
  border-left: 6px solid rgba(13, 143, 230, 0.555);
  height: 100%;
  margin: 10% 90%;
}
.vl2 {
  grid-area: column2;
  border-left: 6px solid rgba(13, 143, 230, 0.555);
  height: 100%;
  margin: 10% 90%;
}
.vl3 {
  grid-area: column2;
  border-left: 6px solid rgba(101, 101, 104, 0.37);
  height: 100%;
  margin: 10% 232%;
}
.contact-item {
  list-style: none;
  margin: 3%;
}
a {
  color: lightslategray;
  text-decoration: none;
}
a:hover {
  color: rgb(13, 143, 230);
}
i {
  font-size: 100%;
  color: gray;
}
i:hover {
  color: rgb(13, 143, 230);
}

.main-info {
  grid-area: article1;
  display: grid;
  grid-template-rows: 20% 45%;

  grid-template-areas: "point0 point1";
}
.code-example-title {
  grid-area: point0;
  margin-left: 30%;
}

.code-example {
  grid-area: point0;
  margin: 10%;
}
.codd {
  grid-area: point1;
  margin-left: -70%;
}

.edu-title {
  grid-area: breakpoint1;
}


hr {
  border: none;
  background-color: rgba(13, 143, 230, 0.555);
  color: rgba(13, 143, 230, 0.555);
  height: 5px;
  width: 50%;
  margin-right: 50%;
}

.fourth-line {
  grid-area: column4;
  width: 100%;
}
footer {
  grid-area: footer;
  display: grid;
  background-color: rgba(13, 143, 230, 0.555);
  grid-template-rows: 70%;
  grid-template-columns: 30% 40% 20%;
  grid-template-areas: "footer1 footer2 footer3";
}
.footer-link {
    font-size: 90%;
    padding: 5%;
}

.footer-info,
.footer-link_rss {
  padding: 3%;
}
.footer-logo {
  display: inline;
}
.rss-link {
  width: 10%;
  display: inline;
  margin-right: 3%;
  margin-top: 5%;
}
.-contact {
  margin: 0;
  font-size: 60%;
}

@media screen and (max-width: 1100px) {
  .person-photo {
    height: 60%;
  }
  .video {
    height: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper {
    grid-template-rows: 8% 16% 30% 29% 13% 4%;
  }
  h1,
  h2,
  h3 {
    font-size: 100%;
  }
  p {
    font-size: 70%;
  }
  .person-photo {
    height: auto;
  }
  .project-photo {
    width: 80%;
  }
  .video {
    height: 50%;
  }
  .knowledges-contacts {
    padding: 0;
  }
  li {
    font-size: 80%;
  }
  pre {
      font-size: 70%;
  }
}
@media screen and (max-width: 750px) {
  .topNav.responsive a {
    padding: 0;
    font-size: 60%;
  }

  .wrapper {
    grid-template-rows: 5% 18% 27% 35% 10% 5%;
  }
  li,
  p,
  pre {
    font-size: 50%;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 70%;
  }
  .footer_logo {
      width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .wrapper {
    grid-template-rows: 6% 18% 27% 34% 10% 5%;
  }
  .topNav a {
    font-size: 50%;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 50%;
    padding: 0;
  }
  p,
  li,
  pre,
  h5,
  h6 {
    font-size: 36%;
    padding: 0;
  }
  .footer-logo {
    width: 10%;

  }
  .footer-contact {
    font-size: 52%;
    padding: 2%;
  }
  ul {
    margin-left: 0px;
    padding-left: 7px;
  }
  li {
    margin: 0;
  }
  hr {
    height: 1%;
  }
  .vl1,
  .vl2,
  .vl3 {
    border-left: 2px solid rgba(13, 143, 230, 0.555);
  }
}
@media screen and (max-width: 350px) {
  .wrapper {
    grid-template-rows: 7% 19% 26% 33% 10% 5%;
    font-size: 70%;
  }
  .project-photo,
  .person-photo {
    height: 75%;
  }
  pre {
    font-size: 37%;
  }
  .footer_logo {
    width: 50%;
  }
   .footer-info {
      padding: 0px;
  }
}
